KABOT_DB_DSN=postgresql://kabot:kabot@localhost/kabot
KALSHI_BTC_CONFIG_PATH=5923c932-54ec-41f3-9495-912ca192ea43
KALSHI_API_BASE_URL=https://api.elections.kalshi.com/trade-api/v2
COINBASE_API_BASE_URL=https://api.exchange.coinbase.com
KALSHI_BTC_KALSHI_API_KEY_ID=5923c932-54ec-41f3-9495-912ca192ea43
KALSHI_BTC_KALSHI_PRIVATE_KEY_PATH=C:\Users\cbemb\Downloads\KalshiQ.txt
KALSHI_BTC_KALSHI_WEBSOCKET_PATH=/trade-api/ws/v2




